<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
		<section name="serviceWatcher" type="ASK.ServiceWatcher.Config.Configuration, ASK.ServiceWatcher"/>
   </configSections>
	<serviceWatcher>
		<services>
			<!--
				Strategy
				
				*     => ALL
				XX-YY => Range 
				XX,YY => LIST
				
				Second     0-59 (Should always be * here)
				Minute     0-59
				Hour       0-23
				Day        1-31
				Month      1-12
				Dayofweek  0-6 (0=Sunday, ..., 6=Saterday)
				
			-->
			<service name="someServiceName" cronStrategy="* * * * * *"/>
		</services>
		<disks>
			<disk name="C:" minSize="3455"/>
		</disks>
	</serviceWatcher>
</configuration>
