<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ASK.ServEasy" version="3.999.0.0" targetFramework="net40" />
  <package id="ASK.ServEasy.Windows" version="3.999.0.0" targetFramework="net40" />
  <package id="DockPanelSuite" version="2.8.0.0" targetFramework="net40" />
  <package id="log4net" version="2.0.0" targetFramework="net40" />
</packages>